html {
    @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
    font-family: 'Noto Sans TC', sans-serif;
    background-color: cornsilk;
}
body {
    background-color:floralwhite;
    width: 1280;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    border-right-style: double;
    border-left-style: double;
    border-right-color: aliceblue;
    border-left-color: aliceblue;
}
h1 {
    color: brown;
    font-size: 65px;
    text-align: center;
}
h2 {
    color: chocolate;
    font-size: 36px;
}
p {
    font-size: 20px;
}
.back {
    color: cornflowerblue;
    text-decoration: none;
}
.hole {
    list-style: disc;
    font-size: 20px;
    color: darkslateblue;
}
.dead {
    color: red;
}
.alive {
    color: green;
}
.pause {
    color: rosybrown;
}
.done {
    color: cornflowerblue;
}